@page "/account"
@model AccountModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Cuenta";

    var token = ViewData["Token"] as string;
}

<head>
    <link rel="stylesheet" href="/css/ui_account.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
<div class="title">
    <h1>Cuentas</h1>
    <h2>Toda la información que necesitás</h2>
</div>
<div class="box">
    <!-- GetAll Admin GetById User -->
    <div class="table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Cuenta n°</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Dinero</th>
                <th scope="col">Cuenta bloqueada</th>
                <th scope="col">Usuario n°</th>
                <th id="fila-administrar" scope="col"></th>
            </tr>
            </thead>
            
            <tbody>
            @foreach (var account in Model.AccountList)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.CreationDate</td>
                    <td>@account.Money</td>
                    <td>@account.IsBlocked</td>
                    <td>@account.UserId</td>
                    <td>
                        <a href="/Account/edit/@account.Id" class="btn btn-primary">
                            <button 
                                type="button" 
                                id="boton-administrar" 
                                class="btn btn-primary">
                                Administrar 
                                <i class="fa-solid fa-gear"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <div class="buttons">
        <!-- Botón volver a perfil user -->
        <a href="/User/Profile">
            <button
                type="button"
                class="btn-user">
                <i class="fa-solid fa-arrow-left-long"></i>
                Volver
            </button>
         </a>
        <!-- Botón que activa el modal -->
        <button
            type="button"
            class="btn-admin"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Agregar
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    
    <!-- Form Insert Admin -->
    <div class="form">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Cuenta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <!-- Formulario -->
                        <form method="post" asp-action="">
                            <div class="form-group">
                                <label for="Id">Cuenta n°</label>
                                <input
                                    type="number"
                                    id="Id"
                                    name="Account.Id"
                                    class="form-control"
                                    placeholder="Cuenta n°"
                                    required/>
                            </div>
                            <div class="form-group">
                                <label for="CreationDate">Fecha de creación</label>
                                <input
                                    type="date"
                                    id="CreationDate"
                                    name="Account.CreationDate"
                                    class="form-control"
                                    required/>
                            </div>
                            <div class="form-group">
                                <label for="Money">Dinero en cuenta</label>
                                <input
                                    type="number"
                                    id="Money"
                                    name="Account.Money"
                                    class="form-control"
                                    required/>
                            </div>
                            <div class="form-group">
                                <p>Estado</p>
                                <label for="IsBlocked">
                                    <input
                                        type="radio"
                                        id="IsBlocked"
                                        name="Account.IsBlocked"
                                        class="form-control"
                                        value="false"
                                        required/>Cuenta bloqueada
                                </label>
                                <label for="IsBlocked">
                                    <input
                                        type="radio"
                                        id="IsBlocked"
                                        name="Account.IsBlocked"
                                        class="form-control"
                                        value="true" checked
                                        required/>Cuenta no bloqueada
                                </label>
                            </div>

                            <div class="modal-footer">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                                <button
                                    type="submit"
                                    class="btn btn-success">
                                    Crear
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>