@page "/account"
@model AccountModel

@{
    Layout = "_Layout-Logeado";
    ViewData["Title"] = "Cuenta";

    var token = ViewData["Token"] as string;
}

<head>
    <link rel="stylesheet" href="/css/ui_account.css">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background: #11322E;
        }

        .transaction {
            margin-bottom: 90px;
        }

        #table-container {
            border-radius: 30px;
            border: 1px solid #556;
            background: rgba(35, 173, 99, 0.5);
            overflow: hidden;
            padding: 8px;
        }

        .table {
            color: #F4EFE4;
        }

        #table-container th, #table-container td {
            border-bottom: 2px solid #51DAC9;
        }


        #table-container td {
            cursor: pointer;
        }

        .botones-crear {
            padding: 10px;
        }

            .botones-crear button {
                border-radius: 40px;
                background: transparent;
                border: 2px solid #51DAC9;
                width: 120px;
                color: #F4EFE4;
            }

                .botones-crear button a {
                    text-decoration: none;
                    color: #F4EFE4;
                }


        .modal-content {
            border-radius: 25px !important;
            background: #11322E;
            color: white;
        }

        .modal-footer {
            border-top: 0;
        }

        .form-group > label {
            margin: 5px 0;
        }

        nav {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .pagination .page-item.active .page-link {
            background: transparent;
            border: 1px solid green;
        }

        .page-link {
            color: green;
        }

    </style>
</head>

<body>
<div class="title">
    <h1>Cuentas</h1>
    <h2>Toda la información que necesitás</h2>
</div>

    <div class="account">
        <div id="table-container">
            <table class="table" style="text-align: center">
                <thead>
                    <tr>
                        <th scope="col">Cuenta n°</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Dinero</th>
                        <th scope="col">Cuenta bloqueada</th>
                        <th scope="col">Usuario n°</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.AccountList)
                    {
                        <tr class="align-middle">
                            <a href="#">
                            <th>@account.Id</th>
                            <td>@account.CreationDate</td>
                            <td>$ @account.Money</td>
                            <td>@account.IsBlocked</td>
                            <td>@account.UserId</td>
                        </tr>


                    }

                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li id="item-page" class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="?pageNumber=@i">@i</a>
                    </li>
                }

            </ul>
        </nav>

        <div class="botones-crear" style="display: flex; justify-content:center; gap: 15px;">
            <button type="button">
                <a href="/Index">Volver</a>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i> Agregar
            </button>
        </div>
    
    <!-- Form Insert Admin -->
    <div class="form">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Cuenta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <!-- Formulario -->
                        <form method="post" asp-action="">
                                <div class="form-group">
                                    <label for="UserId">Usuario N°</label>
                                    <input type="number"
                                           id="UserId"
                                           name="Account.UserId"
                                           class="form-control"
                                           required />
                                </div>
                            <div class="form-group">
                                <label for="Money">Dinero en cuenta</label>
                                <input
                                    type="number"
                                    id="Money"
                                    name="Account.Money"
                                    class="form-control"
                                    required/>
                            </div>
                                <div class="form-group">
                                    <p>Estado</p>
                                    <div class="form-check form-check-inline">
                                        <input type="radio"
                                               id="IsBlockedTrue"
                                               name="Account.IsBlocked"
                                               class="form-check-input"
                                               value="true"
                                               checked
                                               required />
                                        <label for="IsBlockedTrue">Cuenta bloqueada</label>
                                    </div>
                                        
                                    <div class="form-check form-check-inline">
                                        <input type="radio"
                                               id="IsBlockedFalse"
                                               name="Account.IsBlocked"
                                               class="form-check-input"
                                               value="false"
                                               required />
                                        <label for="IsBlockedFalse"> Cuenta no bloqueada</label>
                                    </div>
                                        
                                </div>


                            <div class="modal-footer">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                                <button
                                    type="submit"
                                    class="btn btn-success">
                                    Crear
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
        $(document).ready(function () {

            $("tbody tr").click(function () {

                var id = $(this).find('th').text();
                window.location.href = "/account/editar/" + id;
            });
        });
</script>
</body>