@page "/Transactions"
@model Clover.Pages.Transactions.TransactionModel
@{
    Layout = "_Layout-Logeado";
}
@{
}
<head>
    <style>
        
        body{
            background: #11322E;
            display: flex;
            justify-content: center;
        }

        #table-container{
            border-radius: 30px;
            border: 1px solid #556;
            background: rgba(35, 173, 99, 0.5);
            overflow: hidden;
            padding: 8px;
        }

        .table {
            color: #F4EFE4;
            
        }

        #table-container th, #table-container td {
            
            border-bottom: 2px solid #51DAC9; 
        }


        #table-container td{
            cursor:pointer;
        }

        .botones-crear{
            padding: 10px;

        }
        .botones-crear button{
            border-radius: 40px;
            background: transparent;
                border: 2px solid #51DAC9;
                width: 120px;
                color: #F4EFE4;
        }

        .botones-crear button a{
            text-decoration: none;
                    color: #F4EFE4;
                }
        

        .modal-content{
            border-radius: 25px !important;
            background: #11322E;
            color: white;

        }
        .modal-footer{
            border-top: 0;
        }

        .form-group > label{
            margin: 5px 0;
        }
        nav{
            display:flex;
            justify-content:center;
            margin-top: 10px;
        }

        .pagination .page-item.active .page-link {
            background: transparent;
            border: 1px solid green;
        }
        .page-link{
            color: green;
        }

    </style>
</head>
<body>

    <div id="table-container">
        <table class="table" style="text-align: center">
            <thead>
                <tr>
                    <th scope="col">Trans n°</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cuenta n°</th>
                    <th scope="col">Usuario n°</th>
                    <th scope="col">Cuenta Destino</th>
                    @* <th id="row-admin" scope="col">Detalle</th> *@

                </tr>
            </thead>
            <tbody>
                @foreach (var Transaction in Model.TransactionsList)
                {
                    <tr class="align-middle">
                        <a href="#">
                        <th scope="row">@Transaction.TransactionId</th></a>
                        <td>$@Transaction.Amount</td>
                        <td>@Transaction.Concept</td>
                        <td>@Transaction.Date</td>
                        <td>@Transaction.Type</td>

                        <td>@Transaction.AccountId</td>
                        <td>@Transaction.UserId</td>
                        <td>@Transaction.ToAccountId</td>
                        
                    </tr>
                   

                }

            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li id="item-page" class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }

        </ul>
    </nav>

    <!-- Botón que activa el modal -->
    <div class="botones-crear" style="display: flex; justify-content:center; gap: 15px;">
        <button type="button" >
            <a href="/Index">Volver</a>
        </button>
        <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i> Agregar
        </button>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Transacción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Formulario -->
                    <form method="post" asp-action="OnPostAsync">

                        <div class="form-group" style="text-align: center;">
                            <label>Tipo de Transacción</label>
                            <div class="radio-container">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Transaction.Type" value="payment">
                                    <label class="form-check-label">Transferencia</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Transaction.Type" value="topup">
                                    <label class="form-check-label">Depósito</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Amount">Monto</label>
                            <input type="text" class="form-control" id="Amount" name="Transaction.Amount" required>
                        </div>
                        <div class="form-group">
                            <label for="Concept">Concepto</label>
                            <input type="text" class="form-control" id="Concept" name="Transaction.Concept" required/>
                        </div>
                        

                        <div class="form-group">
                            <label for="AccountId">Cuenta N°</label>
                            <input type="number" class="form-control" id="AccountId" name="Transaction.AccountId" required>
                        </div>
                        <div class="form-group">
                            <label for="UserId">Usuario N°</label>
                            <input type="number" class="form-control" id="UserId" name="Transaction.UserId" required>
                        </div>
                        <div class="form-group toaccount">
                            <label for="ToAccountId">A Cuenta N°</label>
                            <input type="number" class="form-control" id="ToAccountId" name="Transaction.ToAccountId">
                        </div>
                        
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <input id="Deposit" type="submit" asp-page-handler="Deposit" class="btn btn-success" value="Añadir"></input>
                            <input id="Transfer" type="submit" asp-page-handler="Transfer" class="btn btn-success" value="Añadir"></input>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            
            $("tbody tr").click(function () {
                
                var id = $(this).find('th').text();
                window.location.href = "/Transaction/editar/" + id;
            });
        });
        $(document).ready(function () {
            
            $('.toaccount').hide();
            $('#Deposit').hide();

            
            $('input[name="Transaction.Type"]').change(function () {
                // Verifica si el valor seleccionado es "topup"
                if ($(this).val() === 'topup') {
                    // Oculta el campo ToAccountId si es "topup"
                    $('.toaccount').hide();
                    $('#Transfer').hide();
                    $('#Deposit').show();
                } else {
                    // Muestra el campo ToAccountId para otros tipos
                    $('.toaccount').show();
                    $('#Deposit').hide();
                    $('#Transfer').show();
                }
            });
        });
    </script>
    
    

    
</body>