@page "/Users"
@model ListaUsuariosModel
@{
    Layout = "_Layout-Logeado";
}
<head>
    <style>

        body {
            background: #11322E;
        }

        .transaction {
            margin-bottom: 90px;
        }

        #table-container {
            border-radius: 30px;
            border: 1px solid #556;
            background: rgba(35, 173, 99, 0.5);
            overflow: hidden;
            padding: 8px;
        }

        .table {
            color: #F4EFE4;
        }

        #table-container th, #table-container td {
            border-bottom: 2px solid #51DAC9;
        }


        #table-container td {
            cursor: pointer;
        }

        .modal-content {
            border-radius: 25px !important;
            background: #11322E;
            color: white;
        }

        .modal-footer {
            border-top: 0;
        }

        .form-group > label {
            margin: 5px 0;
        }

        nav {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .pagination .page-item.active .page-link {
            background: transparent;
            border: 1px solid green;
        }

        .page-link {
            color: green;
        }

    </style>
</head>
<body>
    <div id="table-container">
        <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Puntos</th>
                <th scope="col">Rol</th>
                <th scope="col">acción</th>
                <th id="fila-administrar" scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Trabajo in Model.ListUsers)
            {
                <tr class="align-middle">
                    <td>@Trabajo.First_name</td>
                    <td>@Trabajo.Last_name</td>
                    <td>@Trabajo.Email</td>
                    <td>@Trabajo.Points</td>
                    <td>@Trabajo.Role_Id</td>
                    <td><a href="/Usuarios/Editar/@Trabajo.Id"><button type="button" class="btn btn-success">Editar/Eliminar</button></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li id="item-page" class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }

        </ul>
    </nav>
</body>
 @*    <div>
        <form method="post" asp-action="OnPostAsync">

            <div class="form-group">
                <label for="First_name">Nombre</label>
                <input type="text" class="form-control" id="Fisrt_name" name="Usuario.First_name" required>
            </div>
            <div class="form-group">
                <label for="Last_name">Apellido</label>
                <input type="text" class="form-control" id="Last_name" name="Usuario.Last_name" required />
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" name="Usuario.Email" required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Usuario.Password" required>
            </div>
            <div class="form-group toaccount">
                <label for="Points">Puntos</label>
                <input type="number" class="form-control" id="Points" name="Usuarios.Points">
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <input id="User" type="submit" asp-page-handler="User" class="btn btn-success" value="Guardar"></input>
            </div>
        </form>
    </div> *@
