@page "/User"
@model UserModel
@{
    Layout = "_Layout-Logeado";
}

<style>
    .User {
        display: flex;
        justify-content: space-around;
        transform: translateY(20%);
    }

    .userButtons {
        display: flex;
        flex-direction: column; /* Establece la dirección del diseño a columna */
        align-items: flex-start;
        justify-content: space-between

    }

    .buttonUserLink {
        margin: 5px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 40px;
        background: transparent;
        color: #f4eee4;
        width: 140px;
        height: 50px;
        transition: .5s;
        border: 1px solid #51DAC9;
    }

        .buttonUserLink:hover {
            background: rgba(81, 218, 201, 0.50);
            scale: 1.1;
            transition: .5s;
        }

    .buttonUserLink> a{
        color : white;
        text-decoration: none;   }

    .dataUserDiv {
        background: rgba(35, 173, 99, 0.5); /* Establece el color de fondo */
        border-radius: 20px;
        width: 420px;
        height: 350px;
    }

    .card {
        background: rgba(81, 218, 201, 0.10);
        border-radius: 20px; /* Bordes redondeados para las tarjetas individuales */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar las tarjetas */
        height: 70px;
    }

</style>
<body>

    <div class="User">

        <div class="dataUserDiv">

        <div class="card">
            <div class="card-body" >Nombre: @Model.Encontrado.First_name </div>
        </div>
        <div class="card">
            <div class="card-body">Apellido: @Model.Encontrado.Last_name</div>
        </div>
        <div class="card">
            <div class="card-body">Email: @Model.Encontrado.Email</div>
        </div>
        <div class="card">
            <div class="card-body">Puntos: @Model.Encontrado.Points</div>
        </div>
        <div class="card">
            <div class="card-body">Rol: @Model.Encontrado.Role_Id</div>
        </div>
    </div>


<div class="userButtons">
        <a href="/FixedTerms/FixedTermDeposit" class="button"><button class="buttonUserLink">Plazo Fijo</button></a>
        <a href="/Transaction" class="button"><button class="buttonUserLink">Transacciones</button></a>
        <a href="/Accounts" class="button"><button class="buttonUserLink">Cuenta</button></a>
        <a href="/Catalogue" class="button"><button class="buttonUserLink">Catalogo</button></a>
</div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            var userRole = '@ViewData["Role"]';

            if (userRole != "Admin") {
                $(".buttonUserLink:eq(2) a").attr("href", "/MyAccount");
            }
        });
    </script>
</body>


