@page
@model Clover.Pages.FixedTermDepositModel
@{
    ViewData["Title"] = "Plazos Fijos";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="" class="formularios" method="post">

    <div class="form-group">
        <label for="AccountId">Cuenta</label>
        <input type="number" id="AccountId" name="AccountId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Amount">Monto</label>
        <input type="number" id="Amount" name="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CreationDate">Fecha de Creacion</label>
        <input type="datetime" id="CreationDate" name="CreationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ClosingDate">Fecha de Finalizacion</label>
        <input type="datetime" id="ClosingDate" name="ClosingDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NominalRate">Tasa</label>
        <input type="number" id="NominalRate" name="NominalRate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="State">Estado:</label>
        <input type="text" id="State" name="State" class="form-control" />
    </div>

    <button asp-page-handler="CreateFixedTerm" type="submit" class="btn btn-primary">Crear Plazo Fijo</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Monto</th>
            <th>Fecha de Creacion</th>
            <th>Fecha de Finalizacion</th>
            <th>Tasa</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var fixedTerm in Model.FixedTermDeposit)
        {
            <tr>
                @*                 <td>@fixedTerm.Id</td> *@
                <td>@fixedTerm.AccountId</td>
                <td>@fixedTerm.Amount</td>
                <td>@fixedTerm.CreationDate</td>
                <td>@fixedTerm.ClosingDate</td>
                <td>@fixedTerm.NominalRate</td>
                <td>@fixedTerm.State</td>
                <td>
                    <a asp-page="./Insert" asp-route-id="@fixedTerm.Id" class="btn btn-primary">Editar</a>
                    <form asp-page-handler="Delete" asp-route-id="@fixedTerm.Id" method="post">
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
